extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    h2.
      DOM-HTML Way
    form(
      id='dom-form'
    )
      input(
        type="text"
        id="dom-number-input"
        name="dom-number-input"
        placeholder="Enter Positive Enter"
      )
      input(
        type="text"
        id="dom-phrase-input"
        name="dom-pharase-input"
        placeholder="Enter Catch Phrase"
      )
      button(
        type="button"
        id="dom-click"
      ).
        Execute DOM
    div
    ul(
      id="dom-list"
    )

  div
    h2.
      DOM the JQuery Way
    form(
      id='jquery-form'
    )
      input(
        type="text"
        id="jq-number-input"
        placeholder="Enter Positive Enter"
      )
      input(
        type="text"
        id="jq-phrase-input"
        placeholder="Enter Catch Phrase"
      )
      button(
        type="button"
        id="jq-click"
      ).
        Execute JQuery
    div
      ul(
        id="jq-list"
      )
